.titulo{
font-size: 15px;
color: violet;
}

.sub {
font-size: 15px;
color: green;
}

.red {
font-size: 15px;
color: rebeccapurple;


}

#paragrafo {
font-size: 30px;
color: brown
}